@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  margin: 0 0 30px;
  @include text($titleFontFamily, 36px, 1.2, 300);
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  color: $textColor;

  h2 {
    margin: 0;
    color: $textColor;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}




