@import '../../styles/sass/variables';

.title {
  margin: 0 0 30px;
  font-family: $titleFontFamily;
  font-size: 36px;
  font-weight: 300;
  color: $textColor;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;

  & h2 {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}




