@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';


.mainBlock {
  height: 100vh;
  @include flex(row, center, center, nowrap);
  padding: 100px 0;

  .container {
    @include container();
    @include flex(row, space-around, center, wrap);

    .greeting {
      @include flex(column, flex-start, flex-start, nowrap);

      span {
        font-size: 16px;

        &:nth-child(2) {
          @include text($titleFontFamily, 50px, 1.2, 700);
          letter-spacing: 5px;
          margin: 10px 0;

          span {
            @include text($titleFontFamily, 50px, 1.2, 700);
            letter-spacing: 5px;
            position: relative;
            z-index: 0;
            display: inline-block;

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 20px;
              background-color: $primaryColor;
              bottom: 0;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}


/*

  background-color: $bgColor;
}


.greeting {
  width: 300px;
  font-family: $titleFontFamily;
  color: $textColor;

}

.photo {
  width: 300px;
  height: 400px;
  background-color: #9f9e9e;
}*/
