@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;

  .image {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .viewBtn {
      background-color: $primaryColor;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
      color: $textColor;

      &:hover {
        transform: scale(1.1);
        color: $textColor;
        cursor: pointer;
      }
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;

    }

    .description {
      @include text($textFontFamily, 12px, 1.8);
      font-weight: 400;
      font-size: 12px;
    }
  }
}









