@import '../common/styles/sass/variables';

.projectsBlock {
  background-color: $bgColor;
  padding: 100px 0;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
      @media screen and (max-width: 1124px) {
        justify-content: center;
      }
    }
  }
}

